* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: skyblue;
}
.card {
  width: 370px;
  height: 210px;
  background: black;
  margin: 100px auto;
  border-radius: 20px;
  padding: 20px;
}
.uppar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
img {
  width: 50px;
  height: 30px;
}
.left h3{
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    font-weight: bolder;
}
.uppar .left{
    display: flex;
    flex-direction: row;
}
.middle{
    margin-top: 15%;
    color: aliceblue;
}
.middle h3{
    padding-top: 5px;
}
.lower{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}
.lower .left{
    margin-top: 5%;
    
}
.lower .right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.lower .right p{
    padding-top: 5px;
    font-size: 15px;
}